(
    home_planet: (
        radius: 15.0,
        orbit_distance: 4.5,
    ),

    // Science gains from Theoretic Research
    theoretic_research: (
        clicks: 7,
        science: 7,
    ),
    satellites: {
        Basic: (
            name: "satellite.basic",
            launch_cost: 30,
            // Science gains from active satellites
            science: 10,
            interval: 5,
            lifetime: 61,
        ),
        Communication: (
            name: "satellite.comms",
            launch_cost: 100,
            science: 0,
            interval: 1000, // Big number so they dont blink
            lifetime: 120,
        ),
        DebrisCleaner: (
            name: "satellite.debris",
            launch_cost: 500,
            science: 0,
            interval: 1000,
            lifetime: 180,
        ),
    },
    communications_bonus_requirement: 3,
    communications_bonus: 0.5,
    debris_cleaner_range: 3.0,

    collision_debris_deorbit_chance: 0.5,
    debris_deorbit_threshold: 8,
    debris_deorbit_chance: 0.02,

    initial_research: [
        Unlock(CollisionAnalysis),
    ],
    research: (
        items: [
            // -- 0 Orbit Program --
            (
                name: "research.orbit_program",
                id: 1,
                after: [],
                pos: (0, 0),
                cost: 10,
                effect: Unlock(Launch(Basic)),
            ),
            (
                name: "research.crashlanding",
                id: 2,
                after: [1],
                pos: (0.0, -1),
                cost: 300,
                effect: Unlock(Deorbit),
            ),
            // -- 10 Theorycrafting --
            (
                name: "research.theorycrafting1",
                id: 10,
                after: [1],
                pos: (-1, 0),
                cost: 50,
                effect: Upgrade(Theorycrafting, 0.5),
            ),
            (
                name: "research.theorycrafting2",
                id: 11,
                after: [10],
                pos: (-2, 0),
                cost: 200,
                effect: Upgrade(Theorycrafting, 0.5),
            ),
            (
                name: "research.theorycrafting3",
                id: 12,
                after: [11],
                pos: (-3, 0),
                cost: 1000,
                effect: Upgrade(Theorycrafting, 0.5),
            ),
            // -- 20 Engineering --
            (
                name: "research.engineering1",
                id: 20,
                after: [1],
                pos: (-0.6, 1),
                cost: 100,
                effect: Upgrade(SatelliteLongevity, 0.5),
            ),
            (
                name: "research.engineering2",
                id: 21,
                after: [20],
                pos: (-0.8, 2),
                cost: 500,
                effect: Upgrade(SatelliteLongevity, 0.5),
            ),
            (
                name: "research.structural_integrity1",
                id: 22,
                after: [20],
                pos: (-1.6, 1.2),
                cost: 1000,
                effect: Upgrade(SatelliteIntegrity, 1.0),
            ),
            (
                name: "research.structural_integrity2",
                id: 23,
                after: [22],
                pos: (-2.6, 1.4),
                cost: 5000,
                effect: Upgrade(SatelliteIntegrity, 1.0),
            ),
            // -- 30 Data Compression --
            (
                name: "research.data_compression1",
                id: 30,
                after: [1],
                pos: (0.6, 1),
                cost: 100,
                effect: Upgrade(SatelliteEfficiency, 0.5),
            ),
            (
                name: "research.data_compression2",
                id: 31,
                after: [30],
                pos: (1.2, 2),
                cost: 500,
                effect: Upgrade(SatelliteEfficiency, 0.5),
            ),
            (
                name: "research.data_compression3",
                id: 32,
                after: [31],
                pos: (1.8, 3),
                cost: 1500,
                effect: Upgrade(SatelliteEfficiency, 1.0),
            ),
            // -- 40 Communications --
            (
                name: "research.communications",
                id: 40,
                after: [1],
                pos: (1, 0),
                cost: 500,
                effect: Unlock(Launch(Communication)),
            ),
            (
                name: "research.orbit_observation",
                id: 41,
                after: [40],
                pos: (2.0, 0.0),
                cost: 300,
                effect: Unlock(RadarDebris),
            ),
            (
                name: "research.debris_cleaning",
                id: 43,
                after: [40, 2],
                pos: (0.8, -0.8),
                cost: 2500,
                effect: Unlock(Launch(DebrisCleaner)),
            ),
            // -- 50 Automation --
            (
                name: "research.collision_avoidance1",
                id: 50,
                after: [2],
                pos: (-0.6, -2),
                cost: 3000,
                effect: Upgrade(CollisionAvoidance, 1.0),
            ),
            (
                name: "research.collision_avoidance2",
                id: 51,
                after: [50],
                pos: (-1.2, -3),
                cost: 7500,
                effect: Upgrade(CollisionAvoidance, 1.0),
            ),
            (
                name: "research.automation1",
                id: 52,
                after: [2],
                pos: (0.6, -2),
                cost: 1000,
                effect: Unlock(DeorbitAuto),
            ),
            (
                name: "research.automation2",
                id: 53,
                after: [52],
                pos: (1.2, -3),
                cost: 10000,
                effect: Unlock(DeployAuto),
            ),
        ],
    ),
)
